$main-color: aquamarine;
$btn-color: rgb(6, 89, 62);
$active-color: green;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.tabs-wrapper {
  padding: 20px;
  background-color: $main-color;

  button {
    background-color: $btn-color;
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: $active-color;
    }
    &.active {
      background-color: $active-color;
    }
  }

  div {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.active {
      display: block;
      opacity: 1;
      visibility: visible;
      transition: 0.5s;
    }
  }
}
